body {
    font-family: sans-serif;
    width: 6in;
    margin-left: auto;
    margin-right: auto;
}


.delete {
    font-size: 75%;
    padding: 2px;
    margin-left: 6px;
    border: thin solid #88f;
    background: #eee;
}
