body {
    font-family: sans-serif;
    color: #226;
}

#container {
    width: 4in;
    margin-left: auto;
    margin-right: auto;
}

.delete,.add {
    font-size: 12px;
    vertical-align: middle;
    padding: 2px;
}

.delete {
    margin-left: 6px;
}


li {
    padding-top: 6px;
}

.new-name {
    border: 3px solid #ddf;
    padding: 12px;
}

.url-input {
    width: 90%;
}

.suggestions {
    text-align: center;
}

.new-link {
    text-align: center;
}

.login {
    width: 100%;
    margin: 0;
    text-align: right;
    background: #eef;
    padding: 6px;
    font-size: 12px;
}


.login span {
    padding-right: 12px;
}
