<!doctype html>
<html>
  <head>
    <title>¡Vamanos! - {{ name }}</title>
  </head>
  <body>
    <h1>{{ name }}</h1>
    <ul>
      {% for n in patterns %}
      <li>args: {{ n }} &mdash; {{ patterns[n] }}</li>
      {% endfor %}
    </ul>

    <h2>Add another?</h2>
    <form method='POST' action='/$create$/'>
      <p>
        <input id='url' type='text' name='url' size='100'/>
      </p>
      <p>
        <input type='hidden' name='name' value='{{ name }}'/>
        <input id='submit' type='submit'/>
      </p>
    </form>
  </body>
</html>
